body
  font-family: "helvetica", "Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif
  &.scroll-hidden
    overflow: hidden


.back
  position: absolute
  z-index: 5
  width: calc(100% - 20px)
  height: 100%
  display: none
  filter: blur(300px)
  background-color: #e6e6e6

.dialog-form
  display: none
  input
    width: 95%
    margin-bottom: 15px
  textarea
    width: 95%
    height: 100px
    margin-bottom: 15px
  select
    width: 95%
    margin-bottom: 15px

.standart-button
  background-color: $menu_color
  border: none
  color: white
  text-align: center
  &:hover
    cursor: pointer
    background-color: #00008B